# Prerequisites
*.d

# CLion & JetBrains IDE
.idea/
cmake-build-*/
cmake-build-debug/
cmake-build-release/
CMakeSettings.json
CMakeLists.txt.user
# JetBrains specific (if you ever use Rider for C++)
*.iml

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/
_build/
_builds/
Testing/
CTestTestfile.cmake
install_manifest.txt

# VSCode (optional)
.vscode/

# MacOS Finder
.DS_Store

# PowerShell download cache
.pwsh_embedded/
